<h1>My selection</h1>
<div class="row">
  <div class= "cards">
    <% @celebrities.each do |celebrity| %>
      <div class = "col">
        <div class="card-image">
          <%#= cl_image_tag(celebrity.photo.key),
          width: 400, height: 300, crop: :fill)%>
          <div class= "card-text">
            <%= celebrity.name %>
            <p><%= celebrity.price%>€</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



