
<h1>My selection</h1>
<div class="row">
  <div class= "cards">
    <% @celebrities.each do |celebrity| %>
      <div class = "col">
        <div class="card-image">
          <% if celebrity.photo.attached? %>
          <%= cl_image_tag celebrity.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
          <% end %>
          <div class= "card-text">
            <p><%= celebrity.name %></p>
            <p><%= celebrity.price %>€</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
