<h1>My selection</h1>
<div class="row">
  <div class= "cards">
    <% @celebrities.each do |celebrity| %>
      <div class = "col">
        <%= link_to celebrity_path(celebrity) do %>
          <% if celebrity.photo.attached? %>
          <%= cl_image_tag celebrity.photo.key, width: 300, height: 300, crop: :thumb, gravity: :face %>
          <% end %>
          <div class= "card-text">
            <h3><%= celebrity.name %></h3>
            <p><%= celebrity.price %>€</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
