<<<<<<< HEAD

=======
<div class="celebrity d-flex">
  <img src="app/assets/images/napoleon.jpg" alt="napoleon" height="500px" width="500px">

  <div class="celebrity-details">
    <h2><%= @celebrity.name %></h2>
    <h3><%= @celebrity.category.capitalize %></h3>
    <p><%= @celebrity.description %></p>
    <h3><%= @celebrity.price %> €</h3>
    <button class="btn btn-primary">Réserver</button>
  </div>

</div>
>>>>>>> master
