.celebrity {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.celebrity-details {
  margin-left: 70px;
  width: 700px;
  #price {
    text-align: right;
  }
  h3 {
    font-weight: 100;
  }
}


.image {
  object-fit: cover;
}

p {
  font-weight: lighter;
}

.celebrity-suggestion-block {
border: white;
margin-bottom: 100px;
}

.celebrity-suggestion {
color: $gray;
}
