.celebrity {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.celebrity-details {
  margin-left: 70px;
  width: 700px;
  #price {
    text-align: right;
  }
}

.image {
  object-fit: cover;
}
