.celebrity {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: left;
  height: 100vh;
  padding: 20px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.celebrity-details {
  margin-left: 70px;
  width: 700px;
  #price {
    text-align: right;
  }
}

p {
  font-weight: lighter;
}
