.banner-home{
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), asset-url("byourfamous_home_page.jpg");
  height: calc(100vh - 66px);
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: #0E0E0E;
    text-shadow: -2px 0 4px #000;
    font-weight:lighter;
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
  }
}

.container{
  align-item: center;
  width: 50%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.typewriter h3 {
   color: #0E0E0E;
  text-shadow: -1px 0 1px #0E0E0E;
  font-weight:lighter;
  text-align: center;
  font-size: 20px;
  width: 200px;

  overflow: hidden;
  border-right: .15em solid #0E0E0E; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  animation-iteration-count:
  infinite;


    @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0E0E0E }
}
margin-top: 160px;

}

.starting-date{

}

.ending-date{
}


.search-bar {
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  border: outset;
  border-color: #FF99FF;
  padding: 32px;
  height: 50px;
  border-radius: 32px;
}

.form-control{
  border-radius: 20px;
}

.category{
  padding-top: 8px;
  margin-left: 32px;
  margin-right: 32px;
}

.select_tag{
  background-color: yellow;
}

.white-button{
  margin-left: 32px;
  margin-right: 32px;
}


#dropdown{
  border-radius: 20px;
  border: 4px;
  padding: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
