
.search-bar {
  align-items: center;
  justify-content: center;
}
.form-control{
  border-radius: 20px;
}
.banner{
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), asset-url("byourfamous_home_page.jpg");
  height: calc(100vh - 66px);
  background-repeat: no-repeat;
  background-size: cover;
}
.dropdownMenu2{
  background: $light-gray;
  text-decoration: none;
  color: $gray;
}
