<div class="booking">
  <div class="banner" >
    <h1>My booking summary</h1>
    <hr>
  <div class="booking-information d-flex justify-content-center">
      <div class="booking-property">
        <ul>
          <h3 class="text-left">Name</h3>
          <h3 class="text-left">Category</h3>
          <h3 class="text-left">Price</h3>
        </ul>
      </div>
      <div class="booking-details">
        <ul>
          <p class="text-left"><%= @celebrity.name %></p>
          <p class="text-left"><%= @celebrity.category.capitalize %></p>
          <p class="text-left"><%= number_to_currency(@celebrity.price, :unit => "€")%></p>
        </ul>
      </div>
    </div>
    <div class = "booking-buttons d-flex justify-content-center">
      <button id="sweet-alert-demo", class="white-button btn btn-light", root_path >Confirm</button>
      <%= link_to "Back", new_celebrity_booking_path, class: "back-button btn btn-ghost" %>
    </div>
  </div>
</div>
