
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path "fond_booking_byourfamous.jpg"%>); height: 100vh; background-repeat: no-repeat; background-size: cover">
   <br>
   <br>
   <br>
  <div class="d-flex justify-content-center" id="head">
    <h1>- Booking Summary -</h1>
  </div>

  <div class="d-flex justify-content-center" id="body">
    <ul>
      <h3 class="text-left">Celebrity name: Zinedine Zidane</h3>
      <h3 class="text-left">Category: Sports</h3>
      <h3 class="text-left">Total price: 1500000 €</h3>
    </ul>
  </div>

  <div class="d-flex justify-content-center" id="btnroboto">
    <button type="button" class="btn btn-light">Confirmer</button>
  </div>
</div>
