<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ritterconsulting.fr/wp-content/uploads/2015/02/Contact0.jpg);">
  <div class="container">
    <h1>Byourfamous</h1>
    <p>Rent your celebrity.</p>
  </div>
</div>

<div class="card-product">
  <img src="anais.jpg" />
  <div class="card-product-infos">
    <h2>Anais Arrondeau</h2>
    <p>Co-founder Byourfamous company</p>
    <p><strong>0653765409</strong></p>
    <p>Anais@byourfamous.com</p>
  </div>
</div>

<div class="card-product">
  <img src="lea.jpg" />
  <div class="card-product-infos">
    <h2>Léa Bugeat</h2>
    <p>Co-founder Byourfamous company</p>
    <p><strong>0637437897</strong></p>
    <p>Léa@byourfamous.com</p>
  </div>
</div>

<div class="card-product">
  <img src="adrien.jpg" />
  <div class="card-product-infos">
    <h2>Adrien Loiseau</h2>
    <p>Co-founder Byourfamous company</p>
    <p><strong>0634568974</strong></p>
    <p>Adrien@byourfamous.com</p>
  </div>
</div>

<div class="card-product">
  <img src="ludovic.jpg" />
  <div class="card-product-infos">
    <h2>Ludovic Magnol</h2>
    <p>Co-founder Byourfamous company</p>
    <p><strong>0634578865</strong></p>
    <p>Ludovic@byourfamous.com</p>
  </div>
</div>


