<div class="banner d-flex justify-content-center align-item-center" >
    <div class="search-bar d-flex">
      <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
        class: "form-control",
        placeholder: "Find a celebrity"
        %>
        <%= link_to "Search", celebrities_path, class: "white-button btn btn-light"%>
      <% end %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
              Filter by Category
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Sport</button>
                <button class="dropdown-item" type="button">Music</button>
                <button class="dropdown-item" type="button">History</button>
                <button class="dropdown-item" type="button">Politic</button>
                <button class="dropdown-item" type="button">Art</button>
                <button class="dropdown-item" type="button">Technology</button>
              </div>
          </div>
        </div>
      </div>
