
<div class="banner d-flex justify-content-center align-item-center" >
    <div class="search-bar d-flex">
        <%= form_tag celebrities_path, method: :get do %>

          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a celebrity"
          %>

         <!--  <label for="starting-date">starting date</label>
          <%#= date_field_tag :start_date,
            params[:start_date]
          %>
          <label for="ending-date">ending date</label>
          <%#= date_field_tag :end_date,
            params[:end_date]
          %> -->

          <label for="category">category</label>
          <% celebrity_table = Celebrity::CATEGORIES.map do |category| %>
            <% [category, category] %>
          <% end %>

          <%= select_tag(:categories, options_for_select(
            celebrity_table
          ), {:class => 'select2'}) %>

          <%= submit_tag "Search", class: "btn btn-light", id: "button" %>
        <% end %>
    </div>
</div>
