


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path "byourfamous_home_page.jpg"%>); height: 100vh; background-repeat: no-repeat; background-size: cover">">
  <div class="container">
    <br>
    <br>
    <h1><strong>ByourFamous !</strong></h1>
    <button type="button" class="btn btn-light">Rechercher</button>
  </div>
</div>

