<div class="banner-referencecelebrities">
</div>
<div class="container-referencecelebrities">
  <h1>Agence de personnalites : toutes nos references</h1>
  <div class = "block-referencecelebrities">
    <%= image_tag "cinema.jpg" %>

    <div class="card-product-infos">
      <h3> CINEMA</h3>
      <p>Nora Arzeneder – Nathalie Baye – Emmanuelle Béart – Frederique Bel – Marilou Berry – Leila Behkti – Valerie Bonneton – Carole Bouquet – Louise Bourgoin – Zabou Breitman – Stefi Celma – Delphine Chanéac – Dolores Chaplin – Marion Cotillard – Beatrice Dalle – Emma De Caunes – Emilie Dequenne – Adèle Exarchopoulos – Audrey Fleurot – Hélène De Fougerolles – Lola Dewaere – Mélanie Doutey – Virginie Efira – Zoé Félix – Julie Ferrier – Nicole Garcia – Marie Gillain – Vahina Giocante – Vanessa Guide – Hafsia Herzi – Mylène Jampanoï – Bérangère Krief – Alexandra Lamy – Michele Laroque – Virginie Ledoyen – Pauline Lefevre – Valérie Lemercier – Aïssa Maïga – Anne Marivin – Caterina Murino – Helena Noguera – Anne Parillaud – Cristiana Reali – Ludivine Sagnier – Emmanuelle Seigner – Mathilde Seigner – Léa Seydoux – Laura Smet – Alice Taglioni – Karin Viard… Ary Abitan – Dany Boon – Jean-Paul Belmondo – François Berleand – Richard Berry – Charles Berling – Claude Brasseur – Patrick Bruel – Guillaume Canet – Vincent Cassel – Patrick Chesnais – François Cluzet – Clovis Cornillac – Gerard Darmon – Alain Delon – François-Xavier Demaison – Franck Dubosc – Arnaud Ducret – Jean Dujardin – Antoine Dulery – André Dussollier – Vincent Elbaz – Pascal Elbe – Gregory Fitoussi – Stéphane Freiss – Thierry Frémont – Guillaume Gallienne – Francis Huster – Eric Judor – Reda Kateb – Gérard Jugnot – Philippe Lacheau – Laurent Laffite – Patrice Leconte – Samuel Le Bihan – Claude Lelouch – Jalil Lespert – Thierry Lhermitte – Vincent Lindon – Kad Merad – Manu Payet – Jean-Paul Rouve – Bruno Salomone – Elie Seimoun – Bruno Solo – Omar Sy – Fred Testot – Guillaume de Tonquedec – Jacques Weber…</p>
    </div>
  </div>
  <div class = "block-referencecelebrities">
    <%= image_tag "tv.jpg" %>
    <div class="card-product-infos">
      <h3>TV</h3>
      <p>Laurie Cholewa – Cristina Cordula – Estelle Denis – Virginie Guilhaume – Claire Keim – Daniela Lumbroso – Enora Malagré – Ophelie Meunier – Sandrine Quétier – Alessandra Sublet – Sylvie Tellier – Laury Thilleman – Aida Touihri… Nikos Aliagas – Denis Brogniart – Sebastien Cauet – Louis Laforge – Frédéric Lopez – Mathieu Madenian – Stephane Plaza – Harry Roselmack – Stéphane Rotenberg – Titoff…</p>
    </div>
  </div>
  <div class = "block-referencecelebrities">
    <%= image_tag "music.jpg" %>
    <div class="card-product-infos">
      <h3>MUSIQUE</h3>
      <p>Anggun – Ayo – Elodie Frégé – Joyce Jonathan – Claire Keim – Nolwenn Leroy – Inna Modja – Hélène Ségara – Elisa Tovati  – Julie Zenati … Benabar – Patrick Bruel – Frero Delavega – Thomas Dutronc – Patrick Fiori – Marc Lavoine – Olympe – Joey Starr – Vianney  – Christophe Willem…</p>
    </div>
  </div>
</div>
