.white-button {
  color: $light-gray;
  border: 1px solid #FF99FF;
  background: #FF99FF;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0,6;
  font-weight: light;
}

.white-button a {
  text-decoration: none;
  a:hover {
    color: $gray;
    text-decoration: none;
  }
}
