.white-button {
  border: 1px solid #4A4A4A;
  background: #FF99FF;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0,6;
  a:hover {
    text-decoration: none;
    color: $gray;
  }
}
